.fotter_outer_container{
  background-color: #111;
  color:gray;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.fotter_inner_container{
  width: 60%;
  /* background-color: red; */
}

.footer_icons{
  /* background-color: blue; */
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
  padding-bottom: 10px;
}

.footer_data {
  display: flex;
  justify-content: space-around; 
  padding-top: 20px;
}

.footer_data ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
  /* background-color: blue; */
}

.footer_data ul li{
  cursor: pointer;
  margin-bottom: 10px;
}

.service_code{
  display: flex;
  justify-items: center;
  align-items: center;
  border: #fff 1px solid;
  width: 15%;
  margin: 10px 30px; 
  cursor: pointer;
}

.copy_write{
  font-size: 12px;
   margin: 5px 30px;
}
